.container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: center;
  transition: all 500ms ease;
  ;
}
.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main h1 span {
  background-color: #ED1D24;
  padding-top: 10px;
  font-family: MarvelRegular;
  font-weight: 400;
  font-size: 80px;
  color: white;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.1);
}
.main h2 {
  padding-top: 10px;
  font-family: MarvelRegular;
  font-weight: 200;
  font-size: 40px;
  color: black;
}

.grid {
  display: flex;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  width: 200px;
  height: 100%;
  text-align: left;
  color: inherit;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition: all 500ms ease;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
}
.card img{
  width: 200px;
  height: 190px;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.card:hover,
.card:focus,
.card:active {
color: #ED1D24;  
box-shadow: 0 5px 15px rgba(247, 40, 25, .4);
  
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.main input {
  width: 100%;
  height: 20%;
  font-size: 40px;
  padding: 0.25em 0.5em;
  padding-top: 7%;
  padding-bottom: 5%;
  background: transparent;
  border: none;
  font-family: MarvelRegular;
  text-transform: uppercase;
  text-align: center;
  border: solid;
  border-color: grey;
}
.main input:focus{
  background: transparent;

}

.main button {
  font-family: MarvelRegular;
  color:white;
  padding-top: 10px;
  font-size: 40px;
  font-weight: bold;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.1);
  width: 32%;
  height: 50%;
  border: none;
  outline: none;
  background-color:#f70f0f
}

.main button:hover {
  background-color: #ED1D24;
  color: white;
  box-shadow: 0 5px 15px rgba(247, 40, 25, .9);
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
